<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookkeeper Email Template</title>
    <style>
      .image_banner {
        width: 90%;
        text-align: center;
      }
      .bk_et_container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      .bk_et_text_container,
      .bk_et_tasks_container {
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .bk_et_text_icon {
        margin-right: 5px;
      }
      .bk_et_text_icon_ {
        margin-right: 5px;
        color: green;
      }

      .bk_et_tasks_description {
        margin-top: 50px;
      }
      .bk_et_text_highlight {
        margin-top: 30px;
        font-weight: 450;
        font-size: 1.3rem;
        font-family: serif;
      }
      .bk_et_eplore_button {
        text-decoration: none;
        color: #fff;
        background: #1466b8;
        padding: 20px;
        border-radius: 8px;
        font-family: Arial;
        font-size: 1.1rem;
        text-align: center;
        margin-left: auto;
        display: block;
        width: 170px;
        margin-right: auto;
      }
      .bk_et_footer {
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .bk_et_footer_first_p{
        line-height: 1.4;
      }
    </style>
  </head>
  <body>
    <div class="bk_et_container">
      <a href="https://www.wishup.co/hire">
        <img
          class="image_banner"
          src="https://content.app-us1.com/lWGBk/2023/05/15/6c50dadd-7b51-4743-8a0b-dbff6b648541.png?id=21210658"
          alt="website_banner"
        />
      </a>
      <div class="bk_et_text_container">
        <h4>Dear Entrepreneur,</h4>
        <p>
          <span class="bk_et_text_icon">&#129300;</span>Are you buried under
          mountains of receipts?
        </p>
        <p>
          <span class="bk_et_text_icon">&#129300;</span>Does the mere mention of
          <b>balance sheets</b> or <b>cash flows</b> give you a headache?
        </p>
        <p class="bk_et_text_highlight">
          <span class="bk_et_text_icon_">&#10004;</span>
          <span>
            Well, we've got just the perfect cost-effective remedy for you!
          </span>
        </p>
      </div>
      <a
        class="bk_et_eplore_button"
        href="https://www.wishup.co/hire"
        role="button"
        >Explore New Profiles</a
      >
      <div class="bk_et_tasks_container">
        <h4>
          Here are a few tasks our accountants and bookkeepers can help you
          with:
        </h4>
        <p><span>&ast;</span> AR Management</p>
        <p><span>&ast;</span> Invoice generation</p>
        <p><span>&ast;</span> AP Management</p>
        <p><span>&ast;</span> Expense tracking</p>
        <p><span>&ast;</span> Reconciliation of accounts</p>
        <p><span>&ast;</span> Maintenance of Books</p>
        <p><span>&ast;</span> Summarizing financial records</p>
        <p><span>&ast;</span> FS preparation</p>
        <p><span>&ast;</span> Month and year-end adjustments</p>
        <p><span>&ast;</span> Preparation of Financial Reports</p>

        <div class="bk_et_tasks_description">
          <p>
            We understand that as a business owner, you wear many hats and your
            time is precious.
          </p>
          <p>
            You have a business to run, people to manage, and goals to achieve.
          </p>
          <p>
            Among these responsibilities, managing your own books can be both
            time-consuming and challenging.
          </p>
          <p>Delegate your bookkeeping woes to experts now!</p>
        </div>
      </div>

      <!-- view new profiles button -->
      <a
        class="bk_et_eplore_button"
        href="https://www.wishup.co/hire"
        role="button"
        >Explore New Profiles</a
      >

      <div class="bk_et_footer">
        <p class="bk_et_footer_first_p">
          If you have any questions or need assistance in choosing the perfect
          virtual employee for your unique needs, Feel free to just reply back
          to this email.
        </p>
        <p>We've got your back!</p>

        <p>Regards,</p>
        <a style="text-decoration: none" href="https://www.wishup.co/hire"
          ><img src="https://www-dev.wishup.co/assets/app_images/Logo.jpg" />
        </a>
      </div>
    </div>
  </body>
</html>
